<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Log In</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container-fluid">
 <h2>LogIn Form</h2>
 <div class="d-block justify-content-center align-items-center vh-100">
    <form th:action="@{/login}" th:object="${loginObj}"method="post">
      <dl>
        <dt>Email:</dt>
        <dd><input type="email"  class="form-input" th:field="*{email}"></dd>
        <dt>Password:</dt>
        <dd><input type="password" class="form-input" th:field="*{password}"></dd>
      </dl>
        <button type="submit" class="btn btn-success">Log In</button>
    </form>
     <h6 th:text = ${ErrorMsg} class="text-danger"></h6>
    <p><a th:href="@{/forgotPwd}">Forgot password?</a></p>
    <h5>Don't have an account?<a th:href="@{/signup}" class="btn btn-danger">Create</a></h5>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" ></script>
</body>
</html>